<!DOCTYPE html>
<html>
    <head>
        <!-- Título de la Pestaña del navegador -->
        <title>Bus Finder</title>

        <!-- Vínculo de HTML al archivo CSS principal -->
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        

        <!-- Vínculo a la plantilla Flatly de Bootswatch -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    </head>

    <body>
        <!-- Encabezado principal -->
        <h1>Bus Finder</h1>

        
       
        

       
    </body>
</html>
